*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.logo{
    display: flex;
}

ul{
    list-style: none ;   /*remove bullets*/
    display: flex;
    padding: 10px 20px;

}

.link1{
    margin-right: 20px;
    color: red;
}

.link{
    color: red;
    margin-left:20px ;
    padding: 10px 20px;
    text-decoration:none 
    
}

hr{
    color: gray;
}

.where{
    margin: 10px 5px;
    padding: 5px 10px;
    font-weight: 500;
    font-size: 40px;
}

.input{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
}
input{
width: 25%;
padding: 10px 20px;
border-radius: 10px;
}

.select{
    border: 1px solid black;
    width: 25%;
    padding: 10px 20px;
border-radius: 10px;
}

.src{
    padding: 10px 30px;
    margin-right: 20px;
    border-radius: 20px;
    color: white;
    background-color: rgb(91, 91, 255);
    border: none;
    font-weight: bold;
    font-size: larger;
    cursor: pointer;

}
.line{
    margin-top: 20px;
}

#newimg{
    width: 300px;
    height: 500px;
    box-shadow:2px 2px 3px 3px gray;
    margin: 50px;
}

#cardContainer{
    margin-top: 80px;
    padding: 10px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    font-size: 20px;
   
}

#rating{
    color: yellow;
   font-size: 30px;
}

#price{
    font-style: italic ;
    font-size: 30px;
    font-weight: 700;
    color: aquamarine;
}

.mainFrame{
   
    display: flex;
   justify-content: space-between;
   margin: 20px;
  
}

.frame{
    position: relative;
    border-radius: 20px;
}
.frame img{
    border-radius: 20px;
    cursor: pointer;

}

.frame img:hover{
    
    transition: all;
    transform: scale(1.2);
    overflow: hidden;
    transition: 1s ease-in-out;
}


.title{
    position: absolute;
    bottom: 10px;
    font-size: 30px;
    color: white;
    left: 10px;
}

footer{
    margin-top: 20px;
    margin-left: 20px;
   
}

.footer_img{
    margin: 20px;
    width: 300px;
}

.blue{
    color: rgb(94, 94, 255);
   padding: 10px 5px;
   cursor: pointer;
}

.listDiv{
    display: flex;
    justify-content: space-around;
}

.flex{
    display: flex;
    flex-direction: column;

}

.lastPara{
    margin: 30px 20px;
}

.h3head{
    margin: 20px 40px ;
    margin-top: 30px;
    padding: 10px;
    font-size: 30px;

}

#card{
    box-shadow: 2px 2px 3px 3px orange;
    margin: 20px;
    overflow: hidden;
    padding: auto;
}

#newimg:hover{
    transform: scale(1.1);
    transition: all;
    transition: 0.5s ease-in-out;
    overflow: hidden;
    cursor: pointer;
}

@media screen and (max-width:480px) {
    
     .input{
        display: flex;
        justify-content: space-between;
        margin-left:10px;
        font-size: 10px;
    }
    input{
        font-size: 5px;
        width: 15%;
        height: 30px;
        padding: 1px 0px;
        /* border-radius: 10px; */
        }
        .select{
            /* border: 1px solid black; */
           
            height: 30px;
            /* padding: px 20px; */
        /* border-radius: 10px; */
        }
        .src{
            /* padding: 1px 30px; */
            margin-right: 20px;
            border-radius: 20px;
            color: white;
            background-color: rgb(91, 91, 255);
            border: none;
            font-weight: 400;
            font-size: medium;
            cursor: pointer;
            height: 30px;
            display: flex;
            align-items: center;
            font-size: 10px;
        
        }
        
        #travler option{
            font-size: 5px;
        }

        .list{
            display: none;
            
        }
        .menu{
            display: block;
            text-decoration: none;
            position: relative;
        }
        .logo img{
             width: 80px;
        }
        .link h4{
          font-size: 10px;
        }

        .nav1{
            display: flex;
            flex-direction: column;
            background-color: rgb(255, 236, 236);
            position: absolute;
            width: 100px;
            display: none;
        }
        .nav1 li{
             padding: 10px;
             font-size: 10px;
             border-bottom: 1px solid gray;
             cursor: pointer;
        }

        .menu:hover > .nav1{
            display: block;
        }

        .where{
            font-size: 20px;
        }
        #newimg{
            width: 150px;
            height: 200px;
            box-shadow:1px 1px 2px 2px gray;
            margin: 20px;
        }
        
        #cardContainer{
            margin-top: 50px;
            padding: 5px 10px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            text-align: center;
            font-size: 10px;
           
        }
        
        #rating{
            color: yellow;
           font-size: 10px;
        }
        
        #price{
            font-style: italic ;
            font-size: 10px;
            font-weight: 400;
            color: aquamarine;
        }
        
        .mainFrame{
           
            display: flex;
           justify-content: space-between;
           margin: 10px;
          
        }
        
        .frame{
            position: relative;
            border-radius: 10px;
        }

        .frame img{
            border-radius: 10px;
            cursor: pointer;
        
        }
        
        .frame img:hover{
            
            transition: all;
            transform: scale(1.1);
            overflow: hidden;
            transition: 1s ease-in-out;
        }
        
        
        .title{
            position: absolute;
            bottom: 10px;
            font-size: 30px;
            color: white;
            left: 10px;
        }
        
        footer{
            margin-top: 20px;
            margin-left: 20px;
           
        }
        
        .footer_img{
            margin: 20px;
            width: 70px;
        }

        .mainFrame{
            display: flex;
            flex-wrap: wrap;
        }
        
        .frame img{
            width: 100px;
            margin: 20px;
           
        }
        .frame{
            position: relative;
        }
        .frame .title{
          position: absolute;
            font-size: 10px;
            bottom: 30px;
            left: 25px;
        }
        
        .blue{
            
            color: rgb(94, 94, 255);
           padding: 10px 5px;
           cursor: pointer;
           font-size: 10px;
        }
        
        .listDiv{
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }
        
        .flex{
            display: flex;
            flex-direction: column;
        
        }
        
        .lastPara{
            margin: 30px 20px;
            font-size: 5px;
        }
        
        .h3head{
            margin: 20px 40px ;
            margin-top: 30px;
            padding: 10px;
            font-size: 10px;
            font-weight: 300;
        
        }
        .black{
            font-size: 10px;
        }
        
        #card{
            box-shadow: 2px 2px 3px 3px orange;
            margin: 20px;
            overflow: hidden;
            padding: auto;
        }
        
        #newimg:hover{
            transform: scale(1.1);
            transition: all;
            transition: 0.5s ease-in-out;
            overflow: hidden;
            cursor: pointer;
        }

        
}


@media screen and (min-width:480px) {
    .menu{
        display: none;
        
    }
}
